{% extends 'layout.html' %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>About Prayer List</h1>
      <h2>Content to be added</h2>
      <p>
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      </p>
      <h2>Content to be added</h2>
      <p>
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      	Content to be added. Content to be added. Content to be added. Content to be added. Content to be added. 
      </p>
    </div>        
  </div>

{% endblock %}