{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans 'About Prayer List' %}</h1>
      <h2>{% trans 'How Prayer List works?' %}</h2>
      <p>{% trans 'We all have many prayer requests that we want to pray for. But when you start praying, you just can't remember all of them. It isn't easy to remember all of them and, in fact, you shouldn't! We provide you this application that helps you organize your prayer requests and remember to pray for them.' %}</p>

      <p>{% trans 'Each time you hear a prayer request, submit it to the app, specifying the date when you want to pray for it. Each day, when your prayer time comes, open the app on the 'Today' tab and you'll see all your requests to pray for in that day. If you don't specify any date when you submit a request, it will appear in your list everyday, until you delete it or fill in the 'show date' field. These prayer requests will appear on to you, if you don't specify otherwise.' %}</p>

      <p>{% trans 'The app gives you an option to make the prayer request public. Public prayer requests will appear on the home page to any visitor of the site.' %}</p>      
    </div>        
  </div>

{% endblock %}