{% extends 'layout.html' %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <table id="prs_table" class="display">
        <thead>
          <th>Title</th>
          <th>Description</th>
          <th>Is Public</th>
          <th>Is Urgent</th>
          <th>Show Date</th>
          <th></th>
        </thead>
        <tbody>
          {% for pr in prayer_requests %}
            <tr>
              <td>{{ pr.title }}</td>
              <td>{{ pr.description }}</td>
              <td>{{ pr.is_public }}</td>
              <td>{{ pr.is_urgent }}</td>
              <td>{{ pr.show_date }}</td>
              <td>
                <div class="pr-mng">
                  <a class="btn btn-default btn-xs" href="/edit/{{ pr.id }}/" role="button">Edit</a>
                  <button type="button" class="btn btn-default btn-xs deletebtn" data-id="{{ pr.id }}">Delete</button>
                </div>
              </td>
            </tr>            
          {% endfor %}        
        </tbody>
      </table>      
      <p><a class="btn btn-primary" href="/edit/" role="button">Add RP &raquo;</a></p>
      {% csrf_token %}
    </div>        
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      
      $('#prs_table').DataTable();

      $('.deletebtn').click(function() {
        if(confirm('Are you sure?')) {
          var id = $(this).data('id');                  
          $.post(
            '/delete/' + id + '/', 
            {'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()},
            function(data) {
              window.location = '/all/';
            } );
        } 
      });

    });
  </script>
{% endblock %}