{% extends 'layout.html' %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h1>{% trans 'Manage your prayer requests' %}</h1>
      <table id="prs_table" class="display">
        <thead>
          <th>{% trans 'Title' %}</th>          
          <th>{% trans 'Is public' %}</th>          
          <th>{% trans 'Show date' %}</th>
          <th></th>
        </thead>
        <tbody>
          {% for pr in prayer_requests %}
            <tr>
              <td>{{ pr.title }}</td>              
              <td>{{ pr.is_public }}</td>              
              <td>{{ pr.show_date }}</td>
              <td>
                <div class="pr-mng">
                  <a class="btn btn-default btn-xs" href="/edit/{{ pr.id }}/" role="button">{% trans 'Edit' %}</a>
                  <button type="button" class="btn btn-default btn-xs deletebtn" data-id="{{ pr.id }}">{% trans 'Delete' %}</button>
                </div>
              </td>
            </tr>            
          {% endfor %}        
        </tbody>
      </table>      
      <p><a class="btn btn-primary" href="/edit/" role="button">{% trans 'Add prayer request' %} &raquo;</a></p>
      {% csrf_token %}
    </div>        
  </div>

{% endblock %}

