{% extends 'layout.html' %}
{% load i18n %}

{% block jumbotron %}
  
  <h1>{% trans 'Prayer list' %}</h1> <!-- Molitvenyj Spisok | Lista de rugaciune -->
  <p>{% trans 'Maintain a list of prayer requests and use it to pray daily' %}</p>
  <p><a class="btn btn-primary btn-lg" href="/about/" role="button">{% trans 'Learn more' %} &raquo;</a></p>
  
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">  
	  <div class="grid">        
        {% for pr in prayer_requests %}
          <div class="grid-item pr small bg-info">
            <p class="pr-title text-capitalize"><strong>{{ pr.title }}</strong></p>
            <p class="pr-description">{{ pr.description | safe }}</p>            
          </div>          
        {% endfor %}        
      </div>      
    </div>        
  </div>

{% endblock %}