{% extends 'layout.html' %}
{% load i18n %}

{% block jumbotron %}
  
  <h1>{% trans 'Prayer list' %}</h1> <!-- Molitvenyj Spisok | Lista de rugaciune -->
  <blockquote>
    <p>{% trans 'The end of all things is near; therefore, be of sound judgment and sober spirit for the purpose of prayer.' %}</p>
    <footer>{% trans 'Apostle Peter in' %} <cite title="{% trans 'The first epistle of Peter, chapter 1, verse 7' %}">{% trans 'The first epistle of Peter, chapter 1, verse 7' %}</cite></footer>    
  </blockquote>  
  <p>{% trans 'Maintain a list of prayer requests and use it to pray daily' %}</p>  
  <p><a class="btn btn-primary btn-lg" href="/about/" role="button">{% trans 'Learn more' %} &raquo;</a></p>
  
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">  
	  <div class="grid">        
        {% for pr in prayer_requests %}
          <div class="grid-item pr small bg-info">
            <p class="pr-title text-capitalize"><strong>{{ pr.title }}</strong></p>
            <p class="pr-description">{{ pr.description | safe }}</p>            
          </div>          
        {% endfor %}        
      </div>      
    </div>        
  </div>

{% endblock %}