{% extends 'layout.html' %}

{% block jumbotron %}
  
  <h1>PR</h1>
  <p>some text some text some text some text some text some text some text some text some text some text 
  some text some text some text some text some text some text some text some text some text some text </p>
  <p><a class="btn btn-primary btn-lg" href="/about/" role="button">Learn more &raquo;</a></p>
  
{% endblock %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12">      
      
    </div>        
  </div>

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
    });
  </script>
{% endblock %}