{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 class="text-center">{% trans 'Your prayer requests for today' %}</h1>
    </div>
    <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-center"><a class="btn btn-primary" href="/edit/" role="button">{% trans 'Add prayer request' %}</a></p>

      <ul class="timeline">
        {% for pr in prayer_requests %}
          <li>
            <div class="bubble-container">
              <div class="bubble {% if pr.is_read %} read {% endif %}">
                <h3>{{ pr.title }}</h3><br/>
                {{ pr.description | safe }}
                <div class="over-bubble">
                  <div class="action">
                    <a class="togglereadbtn" href="/markread/{{ pr.id }}/">
                      {% if pr.is_read %} {% trans 'Mark as unread' %} {% else %} {% trans 'Mark as read' %} {% endif %}
                    </a>
                  </div>
                  <div class="action"><a href="/edit/{{ pr.id }}/" role="button">{% trans 'Edit' %}</a></div>
                  <div class="action"><a class="deletebtn" href="/delete/{{ pr.id }}/">{% trans 'Delete' %}</a></div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
  {% csrf_token %}

{% endblock %}